body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9pt;
}

header {
    margin: 25px 0;
    text-align: center;
}

.logo {
  position: relative;
  top: 15px;
  display: inline-block;
  padding-right: 0.75rem;
}

.rot-image {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 60s linear infinite;
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}

header h1 {
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
}

section {
    margin: 15px 0;
}

section p {
    margin: 7px 0;
    font-weight: bold;
}

.loading, .error {
    margin: 150px 0;
    text-align: center;
    font-size: 11pt;
    color: #333;
}

.loading p, .error p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.loading-animation {
    margin-top: 50px;
}

.hint {
    color: #555;
    font-size: 9pt;
    font-weight: normal;
    max-width: 800px;
    line-height: 1.2;
}

footer {
    color: #555;
    font-size: 9pt;
}

.hint, footer {
    margin-left: 15px;
}

tbody, .bootstrap-map {
    font-family: 'Courier', monospace;
    font-size: 9pt;
}

table {
    border-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 10px;
    white-space: nowrap;
}

thead td {
    padding: 5px;
    background-color: #eaeaff;
}

tbody td {
    padding: 1px 5px;
    background-color: #f0f0f0;
}

.block-map {
    padding: 1px;
    white-space: pre;
}

.error-message {
    white-space: pre;
}

.healthy {
    color: green;
}

.broken {
    color: red;
}

.online {
    color: green;
}

.joining {
    color: darkorange;
}

.unreachable {
    color: red;
}
