<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <link rel="icon" class="js-site-favicon" type="image/png" href="https://petals.ml/logo.svg">
    <title>Petals Health Monitor</title>
    <link href="static/health.css" rel="stylesheet">
  </head>
  <body>

<header>
  <div class="logo">
    <a target="_blank" href="https://petals.ml"><img src="https://petals.ml/logo.svg" height="50" class="rot-image"></a>
  </div>
  <h1>Petals <span style="font-size: 13pt; color: #aaa;">Health Monitor</span></h1>
</header>

<main>
<section>
  <p>Swarm state: <span class="{{ swarm_state }}">{{ swarm_state }}</span></p>
</section>

<section>
  <p>Bootstrap peers: {{ bootstrap_states|safe }}</p>
</section>

<section>
  <p>Servers:</p>

  <table class="servers">
    <thead>
      <tr>
        <td>Peer ID</td>
        <td>Version</td>
        <td>Throughput</td>
        <td>Cache <a id="explain-cache" href="#">?</a></td>
        <td>DHT <a id="explain-dht-mode" href="#">?</a></td>
        <td colspan="{{ total_blocks + 1 }}">Served blocks</td>
      </tr>
    </thead>
    <tbody>
      {% for row in server_rows %}
      <tr>
        <td>{{ row.peer_id }}</td>
        <td>{{ row.version }}</td>
        <td>{{ "%.1f" | format(row.throughput) }} RPS</td>
        <td>{% if 'cache_tokens_available' in row %}{{ row.cache_tokens_available | int }}{% endif %}</td>
        <td>{% if 'dht_client_mode' in row %}{% if row.dht_client_mode %}Client{% else %}Full{% endif %}{% endif %}</td>
        <td>{{ row.block_indices }}</td>
        {{ row.block_map|safe }}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p class="hint">
    You can run
    <a target="_blank" href="https://github.com/bigscience-workshop/petals#connect-your-gpu-and-increase-petals-capacity">your own server</a>
    to increase Petals capacity.
  </p>
</section>

<section>
  <p>Legend:</p>

  <table>
    <thead>
      <tr><td colspan="2">Status</td><td>Description</td></tr>
    </thead>
    <tbody>
      <tr><td class="online">●</td><td>online</td><td>Up and running</td></tr>
      <tr><td class="joining">●</td><td>joining</td><td>Loading blocks, joining soon</td></tr>
      <tr><td class="unreachable">✖</td><td>unreachable</td><td>Unreachable from the Internet, see "Reachability issues" below</td></tr>
      <tr><td class="offline">_</td><td>offline</td><td>Disconnected a few minutes ago</td></tr>
    </tbody>
  </table>
</section>

{% if reachability_issues %}
<section>
  <p>Reachability issues:</p>
  <p class="hint">
    Servers may be unreachable due to port forwarding/NAT/firewall issues.
    Normally, they should become reachable in a few minutes, once they join
    a <a href="https://docs.libp2p.io/concepts/nat/circuit-relay/">libp2p circuit relay</a>.
    If your server fails to do that, please ask for help
    in the <b><a target="_blank" href="https://discord.gg/Wuk8BnrEPH">#running-a-server</a></b> channel of our Dicord.
  </p>

  <table>
    <thead>
      <tr><td>Peer ID</td><td>Error message</td></tr>
    </thead>
    <tbody>
      {% for row in reachability_issues %}
      <tr>
        <td>{{ row.peer_id }}</td>
        <td class="error-message">{{ row.err }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

<script>
  document.getElementById("explain-cache").onclick = () => {
    alert(
      'This column shows the number of available attention cache tokens. ' +
      'If it is low, inference requests may be delayed or rejected.'
    );
    return false;
  };
  document.getElementById("explain-dht-mode").onclick = () => {
    alert(
      'This column shows the server\'s DHT mode. ' +
      '"Full" means that the server stores other nodes\' keys, ' +
      'and "client" means that it only reads keys stored on other nodes.'
    );
    return false;
  };
</script>

</main>
<footer>You can find this tool's source code on <a target="_blank" href="https://github.com/borzunov/health.petals.ml">GitHub</a>.</footer>
  </body>
</html>