<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <link rel="icon" class="js-site-favicon" type="image/png" href="./static/logo.svg">
  <title>Petals Health Monitor</title>
  <link href="./static/health.css" rel="stylesheet">
</head>
<body>

<header>
  <div class="logo">
    <a target="_blank" href="https://petals.dev"><img src="./static/logo.svg" height="50" class="rot-image"></a>
  </div>
  <h1>Petals <span style="font-size: 13pt; color: #aaa;">Health Monitor</span></h1>
</header>

<main>

<section>
  <p>Bootstrap peers: <span class="bootstrap-map">{{ bootstrap_map|safe }}</span></p>
</section>

{% for model in model_reports %}
<section>
  <p>
    Model
    <a target="_blank" href="{{ model.href }}" title="DHT prefix: {{ model.dht_prefix }}">{{ model.name }}</a>
    (<span class="{{ model.state }}">{{ model.state }}</span>):
  </p>

  <table class="servers">
    <thead>
      <tr>
        <td>Server ID <a class="show-full-peer-id" href="#">»</a></td>
        <td>Contributor <a class="explain-public-name" href="#">?</a></td>
        <td>Version</td>
        <td>Throughput <a class="toggle-rps-details" href="#">»</a></td>
        <td class="rps-details" style="display: none;">Inference <a class="explain-compute-rps" href="#">?</a></td>
        <td class="rps-details" style="display: none;">Forward <a class="explain-compute-rps" href="#">?</a></td>
        <td class="rps-details" style="display: none;">Network <a class="explain-network-rps" href="#">?</a></td>
        <td>Precision <a class="explain-precision" href="#">?</a></td>
        <td>Adapters <a class="explain-adapters" href="#">?</a></td>
        <td>Cache <a class="explain-cache" href="#">?</a></td>
        <td>Avl. <a class="explain-avl" href="#">?</a></td>
        <td>Pings <a class="explain-pings" href="#">?</a></td>
        <td class="bm-header" colspan="{{ model.n_blocks + 1 }}">Served blocks</td>
      </tr>
    </thead>
    <tbody>
      {% for row in model.server_rows %}
      <tr>
        <td>
          <span class="short-peer-id">{{ row.short_peer_id }}</span>
          <span class="peer-id" style="display: none;">{{ row.peer_id }}</span>
        </td>
        <td class="contributor">
          {% if row.show_public_name and row.server_info.public_name is not none %}
          {% if row.server_info.public_name.startswith('http://') or row.server_info.public_name.startswith('https://') %}
          <a target="_blank" href="{{ row.server_info.public_name }}">{{ row.server_info.public_name.replace('http://', '').replace('https://', '').rstrip('/') | truncate(20, True, '…') }}</a>
          {% else %}
          {{ row.server_info.public_name|truncate(20, True, '…') }}
          {% endif %}
          {% endif %}
        </td>
        <td>{% if row.server_info.version %}{{ row.server_info.version|truncate(10, True, '…') }}{% else %}&lt; 1.2.0{% endif %}</td>
        <td>{{ "%.0f" | format(row.server_info.throughput) }} tok/s</td>
        <td class="rps-details" style="display: none;">
          {% if row.server_info.inference_rps is not none %}{{ "%.0f" | format(row.server_info.inference_rps) }}{% endif %}
        </td>
        <td class="rps-details" style="display: none;">
          {% if row.server_info.forward_rps is not none %}{{ "%.0f" | format(row.server_info.forward_rps) }}{% endif %}
        </td>
        <td class="rps-details" style="display: none;">
          {% if row.server_info.network_rps is not none %}{{ "%.0f" | format(row.server_info.network_rps) }}{% endif %}
        </td>
        <td>
          {% if row.server_info.torch_dtype %}{{ row.server_info.torch_dtype | replace('float', 'f') }}{% endif %}
          {% if row.server_info.quant_type %}({{ row.server_info.quant_type }}){% endif %}
        </td>
        <td>
          {% for adapter in row.adapters %}
          <a target="_blank" href="https://huggingface.co/{{adapter.name}}"">{{ adapter.short_name }}</a>
          {% endfor %}
        </td>
        <td>{% if row.server_info.cache_tokens_left is not none %}{{ row.cache_tokens_left_per_block }}{% endif %}</td>
        <td>{% if row.server_info.using_relay is not none %}{% if row.server_info.using_relay %}Relay{% else %}Direct{% endif %}{% endif %}</td>
        <td class="ping" data-peer-id="{{ row.peer_id }}">
          {% if row.server_info.next_pings %}
          <a class="show" href="#">Show</a>
          <a class="hide" style="display: none;" href="#">Hide</a>
          {% endif %}
          {% for item in row.pings_to_here %}
          <span style="display: none;" class="rtt" data-source-id="{{ item.source_id }}">
          {% if item.rtt <= 1 %}{{ "%.1f ms" | format(item.rtt * 1000) }}{% else %}&gt; 5 s{% endif %}
          </span>
          {% endfor %}
        </td>
        <td>{{ row.block_indices }}</td>
        {{ row.block_map|safe }}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endfor %}

<section>
  <p class="hint">
    <b>Not enough servers?</b>
    <a target="_blank" href="https://github.com/bigscience-workshop/petals#connect-your-gpu-and-increase-petals-capacity">Connect your GPU</a>
    and increase Petals capacity!
  </p>
</section>

<section>
  <p>Legend:</p>

  <table class="legend">
    <thead>
      <tr><td colspan="2">Status</td><td>Description</td></tr>
    </thead>
    <tbody>
      <tr><td class="online">●</td><td>online</td><td>Up and running</td></tr>
      <tr><td class="joining">●</td><td>joining</td><td>Loading blocks, joining soon</td></tr>
      <tr><td class="unreachable">✖</td><td>unreachable</td><td>Unreachable from the Internet, see "Reachability issues" below</td></tr>
      <tr><td class="offline">_</td><td>offline</td><td>Disconnected a few minutes ago</td></tr>
    </tbody>
  </table>
</section>

{% if reachability_issues %}
<section>
  <p>Reachability issues:</p>
  <p class="hint">
    Servers may be unreachable due to port forwarding/NAT/firewall issues.
    Normally, they should become reachable in a few minutes, once they join
    a <a href="https://docs.libp2p.io/concepts/nat/circuit-relay/">libp2p circuit relay</a>.
    If your server fails to do that, please ask for help
    in the <b><a target="_blank" href="https://discord.gg/Wuk8BnrEPH">#running-a-server</a></b> channel of our Discord.
  </p>

  <table>
    <thead>
      <tr><td>Peer ID</td><td>Error message</td></tr>
    </thead>
    <tbody>
      {% for row in reachability_issues %}
      <tr>
        <td>{{ row.peer_id }}</td>
        <td class="error-message">{{ row.err }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

</main>

<footer>
  Last updated: {{ last_updated.strftime('%H:%M:%S') }} UTC (update in {{ update_period }} sec).
  See source code on <a target="_blank" href="https://github.com/petals-infra/health.petals.dev">GitHub</a>.
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="./static/health.js"></script>

</body>
</html>
